:root{
  --body-bg: #fafafa;
  --color: rgb(27, 27, 27);
  --box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
  --border-top: 1px solid rgb(230, 230, 230);
  --border-bottom: 1px solid rgb(230, 230, 230);

  /* button dark mode begin */

  --toggle-size: 12px; /* Tamanho do botão */
  --toggle-width: 2.5em; /* Largura do botão */
  --toggle-height: 1.50em; /* Altura do botão */
  --toggle-background-off: #efefef; /* Cor de fundo quando desligado */
  --toggle-background-on: #2a2a2a; /* Cor de fundo quando ligado */

  /* button dark mode end */
}

.dark-mode:root {
  --body-bg: #313131;
  --color: rgb(255, 254, 254);
  --box-shadow: 0px 5px 30px rgba(255, 255, 255, 0.05);
  --border-top: 1px solid #041545;
  --border-bottom: 1px solid #041545;
}

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif ;
    background-color: var(--body-bg);

    &.dark-mode {
      background-color: var(--body-bg);
    }
}



  

/* START DARK MODE BUTTON */

.container-togle-switch {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.theme-checkbox {
  --toggle-size: var(--toggle-size);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--toggle-width);
  height: var(--toggle-height);
  background: linear-gradient(to right, var(--toggle-background-off) 50%, var(--toggle-background-on) 50%) no-repeat;
  background-size: 200%;
  background-position: 0;
  border-radius: 50px; /* Reduzido para 50px para um botão menor */
  position: relative;
  display: flex;
  align-items: end;
  justify-content: end;
  cursor: pointer;
  font-size: var(--toggle-size);
  transition: background-position 0.4s;
}

.theme-checkbox::before {
  content: "";
  width: calc(var(--toggle-height) - 0.875em); /* Diminuído para o tamanho do círculo */
  height: calc(var(--toggle-height) - 0.875em); /* Diminuído para o tamanho do círculo */
  position: absolute;
  top: 0.438em;
  left: 0.438em;
  background: linear-gradient(to right, var(--toggle-background-off) 50%, var(--toggle-background-on) 50%) no-repeat;
  background-size: 200%;
  background-position: 100%;
  border-radius: 50%;
  transition: left 0.4s;
}

.theme-checkbox:checked::before {
  left: calc(100% - var(--toggle-height) + 0.438em);
  background-position: 0;
}

.theme-checkbox:checked {
  background-position: 100%;
}

/* END DARK MODE BUTTON */

  /* start carrossel */

.slider-wrapper {
	position: relative;
	max-width: 100%;
	margin: 0;
}
.slider {
	display: flex;
	aspect-ratio: 16 / 7;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	-ms-overflow-style: none; /* Hide scrollbar IE and Edge */
	scrollbar-width: none; /* Hide scrollbar Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
	display: none;
}
.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}
.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}
.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}
.slider-nav a:hover {
	opacity: 1;
}

/* end carrossel */
.titulo-licitacao{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 100;
  font-size: 14pt;
  background-color: #041a5e;
  color: white;
  padding-top: 70px;
}
.envelopador {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
.envelopador > div{
  border-bottom: 4px solid red;
  color: white;
}

h1{
  font-size: 40pt;
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;

}
.alinhador{
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.text_bottom{
  margin-bottom: 50px;
}
.descricao{
  margin-bottom: 100px;
  color: white;
  
}

.container-servicos{
  display: grid;
  grid-template-columns: 0.05fr 0.30fr 0.05fr 0.30fr 0.05fr 0.30fr;
  grid-template-rows: 40px 130px 40px 250px;
  background-color: #041a5e;
  padding-left: 10%;
  width: 90%;
}

.h2-servico{
  color: white;
  font-weight: bolder;
  font-size: 18pt;
}
.h2-servico-border{
  color: white;
  font-weight: bolder;
  font-size: 18pt;
}
.fibra_icon{
  height: 48px;
  width: 48px;
  
}
.joia_icon{
  height: 48px;
  width: 48px;
}
.wifi_icon{
  height: 48px;
  width: 48px;
}
.radio_icon{
  height: 48px;
  width: 48px;
}
.internet_icon_border{
  height: 48px;
  width: 48px;
}
.wifi_lateral_icon_border{
  height: 40px;
  width: 40px;
}

.li_links{

  color: rgb(230, 230, 230);
  text-decoration: none;
  transition: 0.5s;
  font-weight: normal;
  width: 60%;
}
.li_links-border{

  color: rgb(230, 230, 230);
  text-decoration: none;
  transition: 0.5s;
  font-weight: normal;
  width: 60%;
}
/* .li_links:hover{
  transition: 0.3s;
  color: red;
  margin-left: 4px;
} */
.li_texts{
  display: flex;
  color: rgb(230, 230, 230);
  text-decoration: none;
  transition: 0.5s;
  font-weight: normal;
}
.li_texts:hover{
  transition: 0.3s;
  color: red;
  margin-left: 4px;
}
.li_texts-border{
  display: flex;
  color: rgb(230, 230, 230);
  text-decoration: none;
  transition: 0.5s;
  font-weight: normal;
}
.li_texts-border:hover{
  transition: 0.3s;
  color: red;
  margin-left: 4px;
}

.margem-branca{
  height: 20vh;
  background-color: #041a5e;
}
/* START RODAPÉ*/
.rodape{  
  color: white;
  align-items: center;
  text-decoration:none;
}
.nav-rodape{
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 50px;
  
}
  /* START ATENDIMENTOS*/
.container-rodape{
  
  border-top: var(--border-top);
  border-bottom: var(--border-bottom);
  /* aspect-ratio: 16 / 6;
  overflow: auto; */
  &.dark-mode {
    border-top: var(--border-top);
    border-bottom: var(--border-bottom);
  }

}
.divisor{
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.img-atendimento-left{
  display: flex;
  margin: 0;
  height: 20vh;
  left: 0;
  width: auto;
}
.clientes{
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-dp{
  display: flex;
  height: 7vh;
  width: 14vw;

}
.img-dp:hover{
  cursor: pointer;
}
.img-gvt{
  display: flex;
  height: 12vh;
  width: 10vw;

}
.img-procon{
  display: flex;
  height: 7vh;
  width: 5vw;
  margin-left: 15px;
}
.img-procon:hover{
  cursor: pointer;
}
.img-oi{
  display: flex;
  height: 8vh;
  margin-top: 12px;
  width: 4vw;
}
.img-oi:hover{
  cursor: pointer;
}
.img-conde{
  display: flex;
  height: 7vh;
  width: 7vw;
  margin-left: 10px;

}
.img-conde:hover{
  cursor: pointer;
}
.img-SES{
  display: flex;
  height: 12vh;
  width: 5vw;
}
.img-SES:hover{
  cursor: pointer;
}
.img-TRE{
  display: flex;
  height: 7vh;
  width: 8vw;
}
.img-TRE:hover{
  cursor: pointer;
}

.img-atendimento-right{
  display: flex;
  margin: 0;
  height: 20vh;
  right: 0; 
}

/* PARA MOBILE */
.column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.l1{
  display: flex;
}
.l2{
  display: flex;
}
.container-atendimentos{
  display: none;
  background-color: #041545;
  width: 100%;
  height: 60vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.title-atendimentos{
  padding-top: 120px;
  display: none;
  font-size: 28pt;
  color: white;
  font-weight: bold;
}
.logo-rix-atendimentos{
  display: none;
  height: 30vh;
  justify-content: center;
  align-items: center;
}

.h2-servico-under{
  display: none;
  color: white;
  font-weight: bolder;
  font-size: 12pt;
}
.internet_icon_under{
  display: none;
  height: 48px;
  width: 48px;
}
.wifi_lateral_icon_under{
  display: none;
  height: 40px;
  width: 40px;
}
.li_links_under{
  display: none;
  color: rgb(230, 230, 230);
  text-decoration: none;
  transition: 0.5s;
  font-weight: normal;
  width: 80%;
}

.li_texts_under{
  display: none;
  color: rgb(230, 230, 230);
  text-decoration: none;
  transition: 0.5s;
  font-weight: normal;
}
.li_texts_under:hover{
  display: none;
  transition: 0.3s;
  color: red;
  margin-left: 4px;
}

@media screen and (max-width: 1140px){
   .container-servicos{
    display: grid;
    grid-template-columns: 0.25fr 0.6fr 0.25fr 0.6fr;
    grid-template-rows: 60px 210px 60px 210px 60px 250px;
    padding-left: 5%;
    width: 95%;
  } 
  
   .h2-servico-border, .espaço, .li_links-border, .li_texts-border, .internet_icon_border, 
   .wifi_lateral_icon_border, .descricao, .img-atendimento-right, .img-atendimento-left{
    display: none;
   }
   .h2-servico-under, .internet_icon_under, .wifi_lateral_icon_under, .li_links_under, .li_texts_under, 
   .container-atendimentos,.logo-rix-atendimentos, .li_texts_under:hover, .alinhador{
     display: flex;
   }
   .container-rodape{
    display: flex;
    justify-content: center;
   }
   .column{
    justify-content: center;
   }
   .title-atendimentos{
    display: flex;
   }
   .l1, .l2{
    display: block;
   }
   .img-dp, .img-procon, .img-oi, .img-conde, .img-SES, .img-TRE, .img-gvt {
    width: 90%;
    height: 15vh;
   }
   .h2-servico{
    color: white;
    font-weight: bolder;
    font-size: 12pt;
  }
  .margem-branca{
    height: 0vh;
  }

}