body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif ;
}
/* start carrossel */

.container {
	padding: 2rem;
}

.slider-wrapper {
	position: relative;
	max-width: 80rem;
	margin: 0 auto;
}

.slider {
	display: flex;
	aspect-ratio: 16 / 9;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
	-ms-overflow-style: none; /* Hide scrollbar IE and Edge */
	scrollbar-width: none; /* Hide scrollbar Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}

/* end carrossel */

/* icon whatsapp */

.icon {
    position: fixed;
    bottom: 30px;
    right: 25px;
    font-size: 30px;
    background-color: #01e675;
    color: #ffffff;
    border-radius: 50%;
    padding: 3px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    z-index: 100;
    box-shadow: 2px 2px 2px #c0bdbd;
  }
  
  .icon .fab{
    padding-top: 9px;
  }
  
  .icon:hover{
    background-color: #fff;
    color: #029e3b;
    font-weight: 900;
    box-shadow: 2px 2px 20px #5fe690;
  }

  /* End Icon */
.nav-top{
  display: flex;
  height: 6vh;
  background-color: black;
  margin: 0;
  list-style-type: none;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.nav_mini_item{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-size: 14pt;
  margin-left: 10%;
  
}
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 10%;
    background-color: white;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
    
  }
  
  .logo {
    display: flex;
    cursor: pointer;
    height: 10vh;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    color: black;
    text-decoration: none;
    
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: color 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }
  
  .cta {
    font-stretch: wider;
    padding: 9px 25px;
    background-color: rgb(38, 55, 133);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
    color: white;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  .cta:hover {
    background-color: rgb(98, 115, 211);
  }
  
  /* Mobile Nav */
  
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #0088a9;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }
  
  .phone-0800 {
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 4vh;
    
  }
.rodape{  
  color: white;
  align-items: center;
  text-decoration:none;
}
.nav-rodape{
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
}
.container-rodape{
  
  border-top: 1px solid rgb(230, 230, 230);
  border-bottom: 1px solid rgb(230, 230, 230);

}
.divisor{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clientes{
  display: flex;
  align-items: center;
  justify-content: center;
}
.infos{
  display: flex;
  padding-left: 180px;
  width: 85vw;
  align-items: center;
  
}
.img-dp{
  display: flex;
  justify-content: end;
  height: 12vh;
  width: 5vw;
  flex-direction: column;
}
.img-dp:hover{
  cursor: pointer;
}
.img-procon{
  display: flex;
  justify-content: end;
  height: 12vh;
  flex-direction: column;
  width: 5vw;
}
.img-procon:hover{
  cursor: pointer;
}
.img-oi{
  display: flex;
  justify-content: end;
  height: 8vh;
  margin-top: 12px;
  width: 4vw;
}
.img-oi:hover{
  cursor: pointer;
}
.img-conde{
  display: flex;
  justify-content: end;
  height: 11vh;
  width: 5vw;
}
.img-conde:hover{
  cursor: pointer;
}
.img-SES{
  display: flex;
  justify-content: end;
  height: 12vh;
  width: 5vw;
}
.img-SES:hover{
  cursor: pointer;
}
.img-TRE{
  display: flex;
  justify-content: end;
  height: 12vh;
  width: 6vw;
}
.img-TRE:hover{
  cursor: pointer;
}
.img-atendimento-left{
  display: flex;
  margin: 0;
  height: 15vh;
  left: 0;
  width: auto;
}
.img-atendimento-right{
  display: flex;
  margin: 0;
  height: 15vh;
  right: 0;
  
}

.menu-textos{
  list-style-type: none;
  width: 25%;
  font-family: "Montserrat", sans-serif;
}
.menu-titulo{
  display: flex;
  font-size: 18pt; 
  text-decoration: none;
  padding-bottom: 25px;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
}
li{

  font-size: 12pt;
}
.menu-link{

  text-decoration: none;
  color: black;
  padding-bottom: 1px;
}
.menu-link:hover{
  transition: 0.3s;
  color: rgb(19, 50, 226);
}
.menu-branco{
  color: transparent;
}
.condensador-l1{
  display: flex;
  align-items: center;
  width: 55vw;
  flex-direction: column; 
 text-decoration: none;
}
.container-logo{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  
}
.etiqueta{
  display: flex;
  height: 25vh;
  margin-left: 18px;
  justify-content: center;
  align-items: center;
}
.contato1{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  font-size: 12pt;
}
.contato2{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  font-size: 12pt;
}
.whatsapp{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3vh;
}
.endereco{
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  font-size: 12pt;
  
}
.pin{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3vh;
}
.tarja{
  display: flex;
  background-color: black;
  color: white;   
  justify-content: center;
  height: 7vh;
  align-items: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}